.job__content {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.job__content {
    margin: 3rem 0
}

.job__list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.job__item {
    padding: 0 0 0 1rem;
    cursor: pointer;
}

.job__item.active {
    border-left: 5px solid var(--primary-color);
}

.job__header{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-bottom: 1.5rem;
}

.job__header h1 {
    font-size: var(--fs-xl);
    font-weight: var(--fw-semi-bold);
}

.job__header span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: 94px;
    padding: 0.25rem 0.5rem;
    font-size: var(--fs-sm);
    background-color: var(--primary-color);
    color: var(--white-color);
}

.job__header time {
    color: #6e6e6e;
    font-size: var(--fs-sm);
}

.job__data ul {
    list-style-image: url(./bx-chevrons-right.svg);
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    color: #333;
}

@media (max-width: 768px) {
    .job__content {
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .job__list {
        flex-direction: row;
        justify-content: center;
        gap: 1.5rem;
    }

    .job__item {
        padding: 0;
    }

    .job__item.active {
        border-left: 0;
        border-top: 5px solid var(--primary-color);
    }

    .job__header {
        text-align: center;
        align-items: center;
    }
}